/* Light Theme */
.light-theme {
  background-color: #f5f5f5;
  color: #333;
}

/* Dark Theme */
.dark-theme {
  background-color: #333;
  color: #f5f5f5;
}

/* Light Theme Header */
.light-theme .app-header {
  background-color: #4caf50;
}

/* Dark Theme Header */
.dark-theme .app-header {
  background-color: #2c3e50;
}

/* Header Styles */
.app-header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem 2rem;
  color: white;
  position: relative;
}

.app-header h1 {
  flex: 1;
  text-align: center;
  margin: 0;
}

.theme-toggle {
  background-color: #fff;
  color: #333;
  border: 1px solid #333;
  padding: 0.5rem 1rem;
  cursor: pointer;
  transition: background-color 0.3s;
  border-radius: 5px;
  position: absolute;
  right: 20px; /* Position to the right */
}

.theme-toggle:hover {
  background-color: #333;
  color: white;
}

/* Light Mode Buttons */
.light-theme .options button,
.light-theme .theme-toggle {
  background-color: #fff;
  color: #333;
  border: 1px solid #333;
}

.light-theme .options button:hover,
.light-theme .theme-toggle:hover {
  background-color: #e0e0e0;
}

/* Dark Mode Buttons */
.dark-theme .options button,
.dark-theme .theme-toggle {
  background-color: #333;
  color: #fff;
  border: 1px solid #fff;
}

.dark-theme .options button:hover,
.dark-theme .theme-toggle:hover {
  background-color: #555;
}

/* Quiz Container */
.quiz-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start; /* Move content closer to the top */
  height: 100vh;
}

.quiz-container img {
  margin-top: 20px; /* Reduce the gap between header and image */
  max-width: 500px;
  height: auto;
}

/* Options Styling */
.options {
  margin-top: 20px; /* Ensure some space between image and buttons */
}

.options button {
  margin: 10px;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 18px;
  transition: background-color 0.2s ease;
}

/* Body Theme Styling */
body {
  margin: 0;
  padding: 0;
}
